.container {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-weight: 800;
  letter-spacing: 0.25rem;
  padding: 0.75rem 0;
  word-break: break-all;
}

.title span {
  position: relative;
}

.title .name::before,
.title .lastName::before {
  position: absolute;
  background: linear-gradient(90deg, #007cf0, #00dfd8);
  content: 'Maximiliano';
  inset: 0;
  background-clip: unset;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated 5s infinite;
}

.title :nth-child(3)::before {
  background: linear-gradient(90deg, #7928ca, #ff0080);
  content: 'Pezzotta.';
  background-clip: unset;
  -webkit-background-clip: text;
  animation-delay: 2s;
}

.description {
  padding: 0.75rem 0;
}

.sections {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

@media (min-width: 788px) {
  .container {
    padding: 0 4rem;
  }
  .sections {
    flex-direction: row;
  }
}

@media (min-width: 1080px) {
  .container {
    padding: 0 10rem;
  }
}

@keyframes animated {
  0%,
  16.667%,
  100% {
    opacity: 1;
  }

  33.333%,
  83.333% {
    opacity: 0;
  }
}
