.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.image {
  position: relative;
  width: 8rem;
  height: 8rem;
  background-color: transparent;
  border: none;
}
