.container {
  display: flex;
  flex-direction: column;
  min-height: 15rem;
}

.tabPanel {
  width: fit-content;
  padding: 1rem 0 0;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .tabPanel {
    padding: 3rem 2rem 0;
  }

  .container button {
    padding: 2rem 1.5rem;
  }
}
